# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/Makefile
**/.idea/
**/.vscode
**/.DS_Store
**/.git/

*.swp
*.md
!README*.md
**/README.md

node_modules/
vendor/
var/
volumes/
data/

